.delivery-address-container {
  border-top: 1px solid rgb(231, 231, 231);
  padding: 15px;
  margin: 15px;
}

.delivery-address-description {
  display: flex;
  flex-direction: column;
  color: grey;
}
.delivery-address-description .name {
  margin-bottom: 15px;
}

.delivery-address-description .address {
  margin-bottom: 10px;
}

.delivery-address-container p {
  color: grey;
  margin-bottom: 15px;
  font-weight: bolder;
}

.payment-buttons-container {
  display: flex;
  gap: 10px;
  margin-top: 50px;
}

.place-order-btn {
  border: none;
  color: white;
  background-color: var(--primary-color);
  padding: 12px 36px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.1rem;
  width: 50%;
}

.place-order-btn:hover {
  cursor: pointer;
  background-color: black;
}

.pay-crypto-btn {
  border: none;
  color: white;
  background-color: #f7931a;
  padding: 12px 36px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.1rem;
  width: 50%;
}

.pay-crypto-btn:hover {
  cursor: pointer;
  background-color: #d4820a;
}